<header>
  <nav>
    <a href="/"><h1>Time R00M</h1></a>
    <ul>
      <a href="/"><li>Accueil</li></a>
      <a href="/progression"><li>Progression</li></a>
      <a href="/projects"><li>Projets</li></a>
      <a href="/about"><li>Contact</li></a>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: black;
    height: 5em;
    display: flex;
    align-items: center;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  ul,
  li,
  a {
    display: flex;
    gap: 1em;
    text-decoration: none;
    color: white;
  }

  h1 {
    font-size: 3em;
    color: #ffffff;
  }
</style>
